{% extends 'base.html' %}
{% block body %}
<section id="sec">
    <div class="box-container" >

        {% for v in v %}
        <form action="" method="post">
        {% csrf_token %}
        <div class="box-container" >
            <div class="box" style="width: 300px;height: 527px;">
                <div class="image" style="max-width: 100%; max-height: 300px;">
                    <img src="{{v.vehical_image.url}}" alt="">
                </div>
                <div class="info">
                    <h3 style="font-size: 1em;">{{v.owner_name}}</h3>

                    
                    <p style="font-size: 1em;">Rs. {{v.price}} per/hour</p>
                   
                </div>
                <div class="btn">
                    <button  style="font-size: 1em;" onclick="return confirm('Are you sure you want to book')">Book</button>
                </div>
            </div>
            <input type="hidden" name="vehicle" value="{{v.id}}">
            <input type="hidden" name="driver" value="{{v.user.id}}">
        </form>
        {% endfor %}
        

    </div>

</section>

    {% endblock body %}