{% extends 'base.html' %}
{% block body %}
<section class="login">
    <div class="conatiner my-3 ">
        {% if validlink %}
        <form class="login-form" action="" method="post">
            {% csrf_token %}
            <h3 class="my-3" align="center">Set Password</h3>
            <br>
            {% if messages %}
            <div id="alert" class="alert alert-danger text-center" role="alert">
                {% for error in form.non_field_errors %}
                    {{error}}
                {% endfor %}
                
            </div>
            {% endif %}
            <h4 id="error"  class="text-danger pb-3" role="alert">                  
            </h4>
            <div class="mb-3">
                <div class="col-lg-7 mx-auto">
                    <div class="input-material-group mb-3">
                        {% for fm in form %}
                        {{fm}}
                        {% endfor %}
                    </div>
                    <br>
                    <input type="submit" class="btn btn-primary mb-3" id="submit"  value="Save"/>
                </div>
            </div>
            {% else %}
                    <h3 class="text-xxl text-gray-400 ">Please Check Link Onece Again</h>
                    {% endif %}
        </form>
    </div>
</section>

</form>
</div>
</section>
{% endblock body %}
{% block script %}
<script>
      $(document).ready(function(){
         
        $("#id_new_password1").attr("placeholder", "Enter PAsswrod");
        $("#id_new_password2").attr("placeholder", "Enter Password Again");
      })
   
        
  </script> 

  {% endblock script %}