{% extends 'base.html' %}
{% block body %}
<section class="login">
    <div class="conatiner my-3 ">

        <form class="login-form" action="" method="post">
            {% csrf_token %}
            <h3 class="my-3" align="center">Reset Password</h3>
            <br>
            {% if messages %}
            <div id="alert" class="alert alert-danger text-center" role="alert">
                {% for msg in messages %}
                <h6 class="alert-heading">{{msg}}</h6>
                {% endfor %}
            </div>
            {% endif %}
            <div class="mb-3">
                <label class="label-material" for="id_email">Email:</label>
                <div class="col-lg-6 mx-auto" style="    display: grid;
                place-items: center;     ">
                        {% for fm in form %}
                        {{fm}}
                        {% endfor %}
                    <br>
                    <button class="login-btn" type="submit">Send </button>
                </div>
            </div>
        </form>
    </div>
</section>

</form>
</div>
</section>
{% endblock body %}